.container {
  background-color: #fff;

  padding: 2rem 2rem;
  width: 75rem;
  height: 50rem;
  background-color: transparent;

  animation: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__head {
    width: 80%;
    z-index: 10;
  }

  @media only screen and(max-width:$bp-largest) {
    width: 60rem;
  }
}

.header {
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.background__image {
  width: 80rem;
  height: 60rem;
  margin: auto;
  background-color: #fff;
  position: relative;

  border-radius: 2rem;

  @media only screen and(max-width:$bp-largest) {
    width: 60rem;
  }

  @media only screen and(max-width: $bp-large) {
    width: 55rem;
  }

  @media only screen and (max-width: $bp-mediumLarge) {
    width: 48rem;
  }

  @media only screen and(max-width:$bp-small) {
    width: 100vw;
    height: 100vh;
  }
}

.background {
  width: 50rem;
  height: 35rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: darkblue;
  background-image: url("../../img/3281755.jpg");
  background-position: center;
  background-size: cover;

  border-radius: 2rem;

  overflow: hidden;

  @media only screen and(max-width:$bp-mediumLarge) {
    width: 45rem;
  }
}

.container__form {
  // display: none;
  width: 100%;
  height: 50%;
  padding: 2rem;
  // background-color: red;

  //background-color: aqua;
  display: flex;
  flex-direction: column;
  z-index: 10;
  @media only screen and (max-width: $bp-mediumLarge) {
    width: 80%;
    height: 70%;
  }
}

.container__form--name,
.container__form--date,
.container__form--achievements,
.container__form--familyMembers {
  // position: absolute;
  // transform: translate(-50%,-50%);
  display: flex;
  border: 5px solid $color-primary;
  border-radius: 1rem;

  padding: 2rem;

  animation: fromLeft 1s ease-in;

  margin-bottom: 2rem;

  //visibility: visible;
  //display: none;

  @media only screen and(max-width:$bp-largest) {
    width: 50rem;
    font-size: 1.5rem;
  }

  @media only screen and (max-width: $bp-mediumLarge) {
    width: 40rem;
  }
}

.container__form--familyMembers {
  @media only screen and (max-width: $bp-mediumLarge) {
    height: 35rem;
  }
}

// .container__form--date,
// .container__form--achievements{

// }
.form__name--title {
  margin-right: 1rem;
}

.form__name--date,
.form__name--title {
  //margin-right: none;
  font-size: 2rem;
  display: block;
  padding: 1rem;
}

.inactive {
  opacity: 0;
  display: none;
}

.active {
  opacity: 1;
  display: flex;
}

.date {
  display: flex;
  align-items: center;
  width: 100%;
}

.question {
  padding: 2rem;
  border: none;
  outline: none;
  background-color: #f2f0f2;
}

.question {
  @media only screen and(max-width:$bp-mediumLarge) {
    height: 24rem;
  }
}
